/* Feuille de style du module ringRanking*/

table#score {
	background-color: #2f2f2f;
	color: white;
	width: 100%;
}

table#score tbody tr{
	padding: 0;
	margin: 0;
	height: 15px;
}



table#score tbody tr td,
table#score tbody tr th  {
	padding: 0px 5px 0px 5px;
	border-left: 1px solid black;
}	

table#score tbody tr th {
	border:0;
	height:20px;
	background-image: url("css/bgTablo3.png");
	color: #FFC30E;
}

table#score tbody tr.parite0 {
	background-color: #464646;
}

table#score tbody tr:hover {
	color:black;
	background-color: #898989;
}

.hidden {
	display: none;
}

.notHidden {
	display:block;
	overflow: hidden;
}

.folded{
	height: 0px;
}

tr td.folded {
	color: #D4D4D4;
	background-color: #181818;
}

tr td.folded:hover {	
	height: 0px;
	margin:0;
	padding: 0;	
	text-align: center;
}

tr td.folded div {
	width: 90%;
	margin: auto;
	text-align: left;
}
