/* Feuille de style du module ringRanking*/

#ringranking_banner {
	text-align: center;
}

/*Formatage du tableau de scores des scenarios */
table#score {
	background-color: #2f2f2f;
	color: white;
	width: 100%;
}

table#score * {
	width: 100%;	
}

table#score tr{
	padding: 0;
	margin: 0;
	height: 15px;
}

table#score tr td,
table#score tr th  {
	padding: 0px 5px 0px 5px;
	border-left: 1px solid black;
}	

table#score tr th {
	border:0;
	height:20px;
	background-image: url("bgTablo2.png");
	border: 0px solid black; 
	color: #FFC30E;
}

table#score tr.parite0 {
	background-color: #464646;
}

table#score tr:hover {
	color:black;
	background-color: #898989;
}
/* classe pour la largeur de chaque colonne*/
th #rr_rank,
td #rr_rank {
	width:5em;
}
th #rr_name,
td #rr_name {
	width:16em;
}
th #rr_mainland,
td #rr_mainland {
	width:10em;
}

/************************************/

/* Classes permettant le changement facile de l'etat caché a apparent */

.hidden {
	display: none;
}

.notHidden {
	display:block;
	overflow: hidden;
}

.folded{
	height: 0px;
}

tr td.folded {
	color: #D4D4D4;
	background-color: #181818;
}

tr td.folded:hover {	
	height: 0px;
	margin:0;
	padding: 0;	
	text-align: center;
}

tr td.folded div {
	width: 90%;
	margin: auto;
	text-align: left;
}


/*  Classe permettant la mise en forme du formulaire de trie par langues */
form#selectLang{
	padding: 6px 0 6px 0;
}

