#
# example test runner shell script
#

# full path to the python interpretor
export PYTHON="/usr/bin/python2.3"

# path to ZOPE_HOME/lib/python
export SOFTWARE_HOME="/usr/lib/zope2.7/lib/python"

# path to your instance. Don't set it if you aren't having  instance
export INSTANCE_HOME="/isp/zope/dedicated/cai"


${PYTHON} runalltests.py
