//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// FX
//

lightmap0               FX      DISCARDABLE     "lightmap0.fx"
lightmap1               FX      DISCARDABLE     "lightmap1.fx"
lightmap2               FX      DISCARDABLE     "lightmap2.fx"
lightmap3               FX      DISCARDABLE     "lightmap3.fx"
lightmap4               FX      DISCARDABLE     "lightmap4.fx"
lightmap0blend          FX      DISCARDABLE     "lightmap0blend.fx"
lightmap1blend          FX      DISCARDABLE     "lightmap1blend.fx"
lightmap2blend          FX      DISCARDABLE     "lightmap2blend.fx"
lightmap3blend          FX      DISCARDABLE     "lightmap3blend.fx"
lightmap4blend          FX      DISCARDABLE     "lightmap4blend.fx"
lightmap0_x2            FX      DISCARDABLE     "lightmap0_x2.fx"
lightmap1_x2            FX      DISCARDABLE     "lightmap1_x2.fx"
lightmap2_x2            FX      DISCARDABLE     "lightmap2_x2.fx"
lightmap3_x2            FX      DISCARDABLE     "lightmap3_x2.fx"
lightmap4_x2            FX      DISCARDABLE     "lightmap4_x2.fx"
lightmap0blend_x2       FX      DISCARDABLE     "lightmap0blend_x2.fx"
lightmap1blend_x2       FX      DISCARDABLE     "lightmap1blend_x2.fx"
lightmap2blend_x2       FX      DISCARDABLE     "lightmap2blend_x2.fx"
lightmap3blend_x2       FX      DISCARDABLE     "lightmap3blend_x2.fx"
lightmap4blend_x2       FX      DISCARDABLE     "lightmap4blend_x2.fx"
cloud                   FX      DISCARDABLE     "cloud.fx"
water_no_diffuse        FX      DISCARDABLE     "water_no_diffuse.fx"
water_diffuse           FX      DISCARDABLE     "water_diffuse.fx"
